{
  "openapi": "3.0.3",
  "info": {
    "title": "Ciniyaana API (Karnataka Chalanachitra Academy)",
    "version": "1.0.0",
    "description": "Public GET endpoints serve the portal. Admin endpoints need a session: log in via POST /user/login (httpOnly cookies accessToken/refreshToken; access token ~15 min, refresh ~8 h). A Bearer access token is also accepted as a fallback. One active session per account: a newer login invalidates the older one (401 code SESSION_REPLACED). Uploads: JPG/PNG/WebP/GIF only, 10 MB each; double extensions and non-image content are rejected."
  },
  "servers": [
    {
      "url": "https://www.planclothes.xyz/api",
      "description": "Live site"
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Flash Back"
    },
    {
      "name": "Remembrance"
    },
    {
      "name": "Info Special"
    },
    {
      "name": "Photo Story"
    },
    {
      "name": "Off The Camera"
    },
    {
      "name": "Article"
    },
    {
      "name": "Film Today"
    },
    {
      "name": "Poster"
    },
    {
      "name": "Video"
    }
  ],
  "paths": {
    "/user/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Create an admin (open only while no admin exists; afterwards requires an authenticated admin)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Email already registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in; sets httpOnly accessToken + refreshToken cookies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful (cookies set; body has user + accessTokenExpiresAt)"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Invalid email or password",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Rotate tokens using the refreshToken cookie (cookie path /api/user/refresh)",
        "responses": {
          "200": {
            "description": "Token refreshed"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/user/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Clear cookies and revoke the active session",
        "responses": {
          "200": {
            "description": "Logged out"
          }
        }
      }
    },
    "/visits/track": {
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Public visit counter (rate limited 60/min)",
        "responses": {
          "204": {
            "description": "Recorded"
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/visits/stats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "30-day visit series + total (auth)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/stats/posts": {
      "get": {
        "tags": [
          "Stats"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Per-menu post counts (auth)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/flashback": {
      "get": {
        "tags": [
          "Flash Back"
        ],
        "summary": "List Flash Back posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Flash Back"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Flash Back post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/flashback/reorder": {
      "put": {
        "tags": [
          "Flash Back"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Flash Back posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/flashback/{id}": {
      "get": {
        "tags": [
          "Flash Back"
        ],
        "summary": "Get Flash Back post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Flash Back"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Flash Back post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Flash Back"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Flash Back post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/remembrance": {
      "get": {
        "tags": [
          "Remembrance"
        ],
        "summary": "List Remembrance posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Remembrance"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Remembrance post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/remembrance/reorder": {
      "put": {
        "tags": [
          "Remembrance"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Remembrance posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/remembrance/{id}": {
      "get": {
        "tags": [
          "Remembrance"
        ],
        "summary": "Get Remembrance post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Remembrance"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Remembrance post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Remembrance"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Remembrance post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/info-special": {
      "get": {
        "tags": [
          "Info Special"
        ],
        "summary": "List Info Special posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Info Special"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Info Special post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/info-special/reorder": {
      "put": {
        "tags": [
          "Info Special"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Info Special posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/info-special/{id}": {
      "get": {
        "tags": [
          "Info Special"
        ],
        "summary": "Get Info Special post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Info Special"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Info Special post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Info Special"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Info Special post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/photo-story": {
      "get": {
        "tags": [
          "Photo Story"
        ],
        "summary": "List Photo Story posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Photo Story"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Photo Story post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/photo-story/reorder": {
      "put": {
        "tags": [
          "Photo Story"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Photo Story posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/photo-story/{id}": {
      "get": {
        "tags": [
          "Photo Story"
        ],
        "summary": "Get Photo Story post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Photo Story"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Photo Story post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Photo Story"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Photo Story post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/off-the-camera": {
      "get": {
        "tags": [
          "Off The Camera"
        ],
        "summary": "List Off The Camera posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Off The Camera"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Off The Camera post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/off-the-camera/reorder": {
      "put": {
        "tags": [
          "Off The Camera"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Off The Camera posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/off-the-camera/{id}": {
      "get": {
        "tags": [
          "Off The Camera"
        ],
        "summary": "Get Off The Camera post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Off The Camera"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Off The Camera post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Off The Camera"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Off The Camera post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/article": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "List Article posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Article"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Article post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/article/reorder": {
      "put": {
        "tags": [
          "Article"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Article posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/article/{id}": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "Get Article post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Article"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Article post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "subtitleEn": {
                    "type": "string"
                  },
                  "subtitleKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "profileNameEn": {
                    "type": "string"
                  },
                  "profileNameKn": {
                    "type": "string"
                  },
                  "profileRoleEn": {
                    "type": "string"
                  },
                  "profileRoleKn": {
                    "type": "string"
                  },
                  "profileIntroEn": {
                    "type": "string"
                  },
                  "profileIntroKn": {
                    "type": "string"
                  },
                  "clearProfileImage": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Article"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Article post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/film-today": {
      "get": {
        "tags": [
          "Film Today"
        ],
        "summary": "List Film Today posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Film Today"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Film Today post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/film-today/reorder": {
      "put": {
        "tags": [
          "Film Today"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Film Today posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/film-today/{id}": {
      "get": {
        "tags": [
          "Film Today"
        ],
        "summary": "Get Film Today post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Film Today"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Film Today post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "photoCreditEn": {
                    "type": "string"
                  },
                  "photoCreditKn": {
                    "type": "string"
                  },
                  "courtesyEn": {
                    "type": "string"
                  },
                  "courtesyKn": {
                    "type": "string"
                  },
                  "galleryMode": {
                    "type": "string"
                  },
                  "galleryOrder": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  },
                  "gallery": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Film Today"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Film Today post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/poster": {
      "get": {
        "tags": [
          "Poster"
        ],
        "summary": "List Poster posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Poster"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Poster post",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/poster/reorder": {
      "put": {
        "tags": [
          "Poster"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Reorder Poster posts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reorder"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/poster/{id}": {
      "get": {
        "tags": [
          "Poster"
        ],
        "summary": "Get Poster post by slug (public)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post slug",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Poster"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Update Poster post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "string"
                  },
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Poster"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete Poster post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "post id (Mongo ObjectId)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/video": {
      "get": {
        "tags": [
          "Video"
        ],
        "summary": "List Video posts (public)",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Video"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "summary": "Create Video post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "slug": {
                    "type": "string"
                  },
                  "titleEn": {
                    "type": "string"
                  },
                  "titleKn": {
                    "type": "string"
                  },
                  "bodyEn": {
                    "type": "string"
                  },
                  "bodyKn": {
                    "type": "string"
                  },
                  "date": {
                    "type": "string"
                  },
                  "categoryEn": {
                    "type": "string"
                  },
                  "categoryKn": {
                    "type": "string"
                  },
                  "youtubeUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated (code SESSION_REPLACED if a newer login replaced this session)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Slug already exists",
[...]
